<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Instructors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic|Courgette' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/styles.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="dist/js/html5shiv.js"></script>
      <script src="dist/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Меню</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Домой <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/python/">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">отлюч</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" placeholder="Search" aria-label="Поиск..." type="text">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">поиск</button>
        </form>
      </div>
    </nav>
    <div class="container">
      <hr>
      <hr>
      <hr>
      <hr>
	  <h1>Instructors</h1>
	  {% for instructor in instructors_list %}
	  
      <p>{{ instructor.name}} {{ instructor.surname}} - {{ instructor.course}}</p>
      <p></p>
      <p></p>
	  
	  {%endfor%}

	  
    </div>
	<div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational 
website. It includes a large callout called a jumbotron and three 
supporting pieces of content. Use it as a starting point to create 
something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">больше »</a></p>
      </div>
	  <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational 
website. It includes a large callout called a jumbotron and three 
supporting pieces of content. Use it as a starting point to create 
something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">больше »</a></p>
      </div>
	  <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational 
website. It includes a large callout called a jumbotron and three 
supporting pieces of content. Use it as a starting point to create 
something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">больше »</a></p>
      </div>
	  <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational 
website. It includes a large callout called a jumbotron and three 
supporting pieces of content. Use it as a starting point to create 
something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">больше »</a></p>
      </div>
	  <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational 
website. It includes a large callout called a jumbotron and three 
supporting pieces of content. Use it as a starting point to create 
something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">больше »</a></p>
      </div>
	  <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational 
website. It includes a large callout called a jumbotron and three 
supporting pieces of content. Use it as a starting point to create 
something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">больше »</a></p>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>